<%= form_for :session, url: session_path do |form| %>
		<div class="row">
			<div class="input-field">
				<%= form.label :email %>
				<%= form.text_field :email, class: 'validate', type: 'email' %>
			</div>
		</div>
		<div class="row">
			<div class="input-field">
				<%= form.label :password %>
				<%= form.password_field :password, class: 'validate' %>
			</div>
		</div>
		<div>
			<%= form.submit class: "btn" %>
	</div>

	<div class="row form-margin">
		<% if Clearance.configuration.allow_sign_up? %>
			<%= link_to t(".sign_up"), sign_up_path %> |
		<% end %>
		<%= link_to t(".forgot_password"), new_password_path %>
<% end %>
	</div>
