<%= link_to 'New Course', new_course_path, class: "btn" %>

<% @courses.each do |course| %>
	<ul class="list-unstyled">
		<li><%= course.name %></li>
		<%= link_to 'Show', course_path(course.id) %> |
		<%= link_to 'Edit', edit_course_path(course.id) %> |
		<%= link_to 'Delete', course_path(course),
			method: :delete,
			data: { confirm: 'Do you really want to delete?' } %>
	<% end %>
	</ul>
	<hr>
	<ul class="list-unstyled">
		<li class="nav-header">My Profile</li>
		<li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
		<li><a href="#">Log Out</a></li>
	</ul>
