<div class="row">
  <div class="col s8 offset-s2">
    <h2><%= t(".title") %></h2>

    <%= form_for @user do |form| %>
      <%= render partial: '/users/form', object: form %>

      <div class="submit-field">
        <%= form.submit class: "btn" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s8 offset-s2">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  </div>
    <% end %>
