<div class="container-fluid">
<%= erb :"backend/sidebar" %>

        <div class="col-md-9">
          <div class="row">
            <div class="col-md-10">
              <h1><%= @course.name %></h1>
              <ul>
                <li><%= @course.description %></li>
                <li><%= @course.duration %></li>
                <li><%= @course.price %>€</li>
              </ul>
              <ul>
                <h3>Chapters</h3>
                <% @course.chapters.each do |chapter| %>
                   <li>
                    <%= chapter.name %>
                    <%= chapter.description %>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
        </div>