<div class="container-fluid">
<%= erb :"backend/sidebar" %>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-10">
              <h1><%= @course.name %></h1>
              <ul>
                <li><%= @course.description %></li>
                <li><%= @course.duration %></li>
                <li><%= @course.price %>€</li>
                <li><%= @chapters.name %></li>
                <li><%= @chapters.description %></li>
                </li>
              </ul>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
        </div>