<ul class="collapsible">

	<li><a href="/course/new/<%= current_user.id %>"><span class="glyphicon glyphicon-plus"></span> Add a Course</a></li>
        <li class="active">
          <div class="collapsible-header"><i class="mdi-av-web"></i>Designer</div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="mdi-editor-format-align-justify"></i>Developer</div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="mdi-av-play-shopping-bag"></i>Video Editor</div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="mdi-editor-insert-comment"></i>Support Asst.</div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
</ul>
<ul class="nav nav-list">
	<li><a href="/course/new/<%= current_user.id %>"><span class="glyphicon glyphicon-plus"></span> Add a Course</a></li>
	<br>
	<ul class="list-unstyled">
		<% all_courses.each do |course| %>
			<li><a href="/course/show/<%= course.id %>"><%= course.name %></a></li>
			<li><a href="/course/edit/<%= course.id %>"><span class="glyphicon glyphicon-pencil"></span> Edit Course</a></li>
			<div class="space-between"></div>
			<li><a href="/chapter/add/<%= course.id %>"><span class="glyphicon glyphicon-plus"></span> Add Chapter</a></li>
			<li><a href="/chapter/edit/<%= course.id %>"><span class="glyphicon glyphicon-pencil"></span> Edit Chapters</a></li>
			<hr>
		<% end %>
	</ul>
	<div class="space-between"></div>
	<li class="nav-header">My Profile</li>
	<li><a href="/user/edit/<%= current_user.id %>">Edit</a></li>
	<li><a href="#">Log Out</a></li>
</ul>
