<div class="row">
	<div class="col-md-3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li><a href="/course/new/<%= current_user.id %>"><span class="glyphicon glyphicon-plus"></span> Add a Course</a></li>
				<br>
				<ul class="list-unstyled">
					<% all_courses.each do |course| %>
					<li><a href="/course/show/<%= course.id %>"><%= course.name %></a></li>
					<li><a href="/chapter/add/<%= course.id %>"><span class="glyphicon glyphicon-plus"></span> Add Chapter</li>
					<li><a href="/course/edit/<%= course.id %>"><span class="glyphicon glyphicon-pencil"></span> Edit Course</a></li>
					<br>
					<% end %>
				</ul>
				<br>
				<li class="nav-header">My Profile</li>
				<li><a href="/user/edit/<%= current_user.id %>">Edit</a></li>
				<li><a href="#">Log Out</a></li>
			</ul>
		</div><!--/.well -->
	</div><!--/span-->
