<table class="table table-bordered table-striped" id="sortable-chapters" data-course-id=<%= course.id %>>
	<thead>
		<tr>
			<th>
				Chapter
			</th>
			<th>
				Chapter Actions
			</th>
			<th>
				Lesson Actions
			</th>
		</tr>
	</thead>
	<tbody>
		<% chapters.each do |chapter| %>
		<% if can? :manage, course %>
		<tr data-item-id=<%= "#{chapter.id}" %> class="item">
			<% end %>
			<td>
				<%= chapter.name %>
			</td>
			<td>
				<% if can? :manage, course %>
				<%= link_to 'Edit', edit_course_chapter_path(course, chapter) %> |
				<%= link_to 'Delete', course_chapter_path(course, chapter), remote: true,
					method: :delete,
					data: { confirm: 'Do you really want to delete?' } %>
				<% end %>
			</td>
			<td>
				<%= link_to 'Show Lessons', course_chapter_path(course, chapter) %>
				<% if can? :manage, course %>
				|
				<%= link_to 'Add Lesson', new_course_chapter_lesson_path(course, chapter) %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>