<div class="row">
	<div class="col s12 m4 l3 card teal lighten-5">
		<%= render partial: '/admin/sidebar' %>
	</div>
	<div class="col s12 m8 l9">
		<div class="row">
			<h1 class="center-align">My dashboard</h1>
		</div>
		<div id="postsList">
			<% @courses.each do |course| %>
				<div class="col s4">
					<div class="card small">
						<div class="row center-align">
							<%= image_tag("courses-icon.png", class:"dashboard-icon") %>
							<div class="card-content">
								<% if can? :read, course %>
									<span class="card-title activator grey-text text-darken-4"><%= course.name %><i class="material-icons right">more_vert</i></span>
								<% end %>
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4"><%= course.name %><i class="material-icons right">close</i></span>
								<p>Description: <%= course.description %></p>
								<p>Duration: <%= course.duration %></p>
								<p>Price: <%= course.formatted_price %></p>
							</div>
							<div class="card-action">
								<%= link_to 'Show', course_path(course.id) %>
								<% if can? :manage, course %>
									<%= link_to 'Edit', edit_course_path(course.id) %>
									<%= link_to 'Delete', course_path(course),
										method: :delete,
										data: { confirm: 'Do you really want to delete?' } %>
								<% end %>

								<% if can? :buy, course %>
									<%= link_to'Buy', new_course_payment_path(course.id) %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
		<div class="col s4">
			<div class="card small">
				<div class="row center-align">
					<%= image_tag("myprofile-icon.png", class:"dashboard-icon") %>
				</div>
				<div class="card-content">
					<p>In here you can make changes to your User Profile, such as editing your password or e-mail address.</p>
				</div>
				<div class="card-action">
					<%= link_to 'Edit', edit_user_path(current_user) %>
				</div>
			</div>
		</div>
		<% if can? :manage, Course %>
		<div class="col s4">
			<div class="card small">
				<div class="row center-align">
					<%= image_tag("students-icon.png", class:"dashboard-icon") %>
				</div>
				<div>
					<div class="card-content row center-align" style="font-size:80px;"><%= current_user.taught_courses.includes(:students).flat_map(&:students).uniq.count %></div>
				</div>
				<div class="card-action center-align">
					<%= link_to 'View Student list', courses_students_path %>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>
</div>
