<div class="container-fluid">
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-10">
				<h1><%= @course.name %></h1>
				<ul>
					<li><%= @course.description %></li>
					<li><%= @course.duration %></li>
					<li><%= @course.price %>€</li>
				</ul>
				<ol>
					<h3>Chapters</h3>
					<% @course.chapters.each do |chapter| %>
						<li>
							<%= chapter.name %>
							<%= chapter.description %>
							<%= link_to 'Edit Chapter', edit_course_chapter_path(@course, chapter), class: "btn" %>
								    <%= link_to 'Delete', course_chapter_path(@course, chapter), class: "btn",
	              method: :delete,
	              data: { confirm: 'Do you really want to delete?' } %>
						</li>
					<% end %>
					<%= link_to 'Add Chapter', new_course_chapter_path(@course.id), class: "btn" %>
				</ol>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>
