	<div class="row">
	<div class="col s12 m4 l3 card teal lighten-5">
		<%= render partial: '/admin/sidebar' %>
	</div>
	<div class="col s12 m8 l9">
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-10">
					<div class="card">
						<h1><%= @course.name %></h1>
						<ul>
							<li><strong>Description: </strong><%= @course.description %></li>
							<li><strong>Duration: </strong> <%= @course.duration %></li>
							<li><strong>Price: </strong> <%= @course.formatted_price %></li>
						</ul>
					</div>
					<div class="replaced-ajax">
						<%= render "chapters", course: @course, chapters: @chapters %>
					</div>
					<% if can? :manage, @chapter %>
					<%= link_to 'Add Chapter', new_course_chapter_path(@course.id), class: "btn" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>