<div class="row">
  <h1>Please add your chapter here!</h1>

  <%= form_for :chapter, url: course_chapters_path, class: "col s12" do |f| %>
    <div class="row">
        <p>
        <div class="input-field col s6"n>
        <%= f.label :name, "Chapter Name" %>
        <%= f.text_field :name, class: "validate", required: true %>
        </p>
        <p>
        <div class="input-field col s6"n>
        <%= f.label :description, "Chapter Description" %>
        <%= f.text_area :description, class: "validate", required: true %>
        </p>
      <%= f.submit "Create", class: "btn" %>
      <% end %>
    </div>
