<div class="row">
	<div class="col s12 m4 l3 card teal lighten-5">
		<%= render partial: '/admin/sidebar' %>
	</div>
	<div class="col s12 m8 l9">
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-10">
					<h1><%= @chapter.name %></h1>
					<p><%= @chapter.description %></p>
					<table class="table table-bordered table-striped" id="sortable-lessons" data-chapter-id=<%= @chapter.id %> data-course-id=<%= @chapter.course_id %>>
						<thead>
							<tr>
								<th>
									Lesson
								</th>
								<th>
									<% if can? :manage, @chapter %>
									Lesson Actions
									<% end %>
								</th>
							</tr>
						</thead>
						<tbody>
							<% @lessons.each do |lesson| %>
								<tr data-item-id=<%= lesson.id %> class="item">
									<td>
										<%= link_to lesson.name, course_chapter_lesson_path(params[:course_id], params[:id], lesson) %>
									</td>
									<td>
										<% if can? :manage, @chapter %>
										<%= link_to "Edit", edit_course_chapter_lesson_path(params[:course_id], params[:id], lesson) %> | <%= link_to "Delete", course_chapter_lesson_path(params[:course_id], params[:id], lesson), method: :delete %>
										<% end %>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<% if can? :manage, @chapter %>
				<%= link_to "Add Lesson", new_course_chapter_lesson_path(params[:course_id], params[:id]), class:"btn" %>
				<% end %>
			</div>
		</div>
	</div>
</div>