<h1>Course Details</h1>
<ul>
  <li>
    <%= @course.name %><br>
    <%= @course.description %><br>
    <%= @course.duration %><br>
    <%= @course.price %>€<br>
    <button>
      <a href="/dahsboard/<%= @user_id %>">Your Dashboard</a>
    </button>
  </li>
</ul>