<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Custom CSS -->
		<%= stylesheet_link_tag "application" %>
		<title>Your E-learning platform | @title </title>
	</head>

	<body>
		<!-- Navbar goes here -->

		<%= render "layouts/navbar" %>
		<!-- Page Layout here -->
		<div class="row">

			<div class="col s12 m4 l3">

				<%= render "admin/sidebar" %>

			</div>

			<div class="col s12 m8 l9">

				<%= yield %>

			</div>

		</div>

		<%= render "layouts/footer" %>

		<!-- Javascript -->
		<%= javascript_include_tag "application" %>
	</body>
</html>
