<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Custom CSS -->
		<%= stylesheet_link_tag    "application" %>
		<title>Your E-learning platform</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<%= render "layouts/navbar" %>

		<div id="flash">
			<% flash.each do |key, value| %>
				<div class="flash lime lighten-3 <%= key %>"><%= value %></div>
			<% end %>
		</div>

		<main role="main">
		<%= yield %>
		</main>
		<%= render "layouts/footer" %>

		<!-- Javascript -->
		<%= javascript_include_tag "application" %>
	</body>
</html>
